html
    head
        title  Vista con Pug
    body
        form(action='/hello' method='post')
        label(for='name')
        input#name(type='text' name='name')
        button(type='submit') Enviar
            
